.header {
  color: white;
  text-align: center;
  background-color: #1a1a1a;
  padding: 10px 0;
}

.ArticlesCard {
  border: 2px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  max-height: 300px;
  overflow-y: auto;
}